:root {

    /* BACKGROUNDS */
    --desaturated-blue: hsl(222, 26%, 31%);
    --desaturated-dark-blue: hsl(223, 31%, 20%);
    --desaturated-deep-dark-blue:  hsl(224, 36%, 15%);

    /* TECLAS */
    --dark-blue-key: hsl(225, 21%, 49%);
    --dark-key-shadow: hsl(224, 28%, 35%);

    --red-key: hsl(6, 63%, 50%);
    --red-key-shadow: hsl(6, 70%, 34%);

    --orange-key: hsl(30, 25%, 89%);
    --orange-key-shadow: hsl(28, 16%, 65%);

    /* TEXTO */
    --text-grayish-blue: hsl(221, 14%, 31%);
    --white: hsl(0, 0%, 100%);

}

* {
    font-family: "League Spartan", sans-serif;
    box-sizing: border-box;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--desaturated-blue);
}

/* TOP CALC */

.calc {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calc__area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc__box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 540px;
    max-height: 760px;
}

.calc__theme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 60px;
}

.calc__theme p {
    font-size: 32px;
    color: white;
    margin-bottom: 0;
}

.calc__input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: white;
}

.input__result {
    display: flex;
    align-items: last;
    background-color: var(--desaturated-dark-blue);
    height: 60px;
    width: 100%;
    border-radius: 15px;
    border: 0;
    color: white;
    font-size: 36px;

}

.calc__buttons {
    width: 100%;
    height: 500px;
    background-color: blue;
}

.switch__theme {
    display: flex;
    gap: 20px;
}

.switch__theme p {
    font-size: 20px;
}

.switch__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.switch__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-check-input {
    cursor: pointer;
    width: 4rem !important;
    height: 32px;
}

/* CALC INPUT */

.calc__input {
    width: 100%;
    height: 60px;
    border-radius: 15px;
}

/* CALC BUTTONS */

.calc__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.25rem;
    gap: 1.25rem;
    background: var(--desaturated-dark-blue);
    border-radius: 15px;
}

.button__area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 10px;
}

.button__number {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--desaturated-dark-blue);
    font-size: 42px;
    height: 60px;
    width: 90px;
    box-shadow: 0 5px var(--orange-key-shadow);
    border-radius: 10px;
    background-color: var(--orange-key);
    cursor: pointer;
    transition: 0.4s all;
}

.del__button {
    background: var(--desaturated-blue);
    box-shadow: 0 10px var(--desaturated-deep-dark-blue);
    color: white;
}

.reset__button {
    background-color: var(--desaturated-blue);
    box-shadow: 0 10px var(--desaturated-deep-dark-blue);
    color: white;
}

.igual__button {
    background-color: var(--red-key);
    box-shadow: 0 10px var(--red-key-shadow);
    color: white;
}

.button__number:active {
    bottom: -10px;
    box-shadow: none;
    position: relative;
    transition: 0.4s ease;
}

.large {
    width: 220px;
}